* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

section {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: url(img/bg.jpg);
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 100px;


}
header {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding:  30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	

}

header .logo {

	position: relative;
	text-decoration: none;
	color: #fff;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;


}

header .navigation {

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .navigation li {

	list-style: none;

}

header .navigation li a {

	color: #fff;
	text-decoration: none;
	padding-left: 30px;
}

.content {

  max-width: 600px;
	}
.contentBx h1 {

    font-size: 4em;
	color: #fff;
	line-height: 1em;
	font-weight: 700;
}

.contentBx p {

   color:  #fff;
   padding-top: 15px;

}

.contentBx a {

  display: inline-block;
  background: #03a9f4;
  padding:  10px 30px;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;

}
.sci {

	position: absolute;
	bottom: 30px;
	display: flex;
}
.sci li{
     list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;

}

.sci li a {

position: relative;
display: inline-block;
margin-right: 20px;
filter: invert(1);
transform: scale(0.5);

}


@media (max-width: 991px)


{
	section {

	padding: 40px;
	background: url(img/bg2.jpg);
	background-size: cover;
	background-position: center;
	}

 .content .contentBx h1{

 	font-size: 2.5em;
 }
 .content .contentBx p {

 	font-size: 1em;
 }
 header .navigation.active {
 	display: flex;
 }
 header .navigation {

 	position: fixed;
 	top: 0;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	background: #000;
 	z-index: 10;
 	display: none;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
 }

  header .navigation li a {

  	font-size: 24px;
  	padding-left: 0;
    margin: 10px 0;
  	
}
   .toggleMenu {

   	position: relative;
   	width: 30px;
   	height: 30px;
   	background: url(img/menu.png);
   	background-position: right;
   	background-size: 30px;
   	background-repeat: no-repeat;
   	cursor: pointer;
   	z-index: 11;
   }

      .toggleMenu.active {
	
   	background: url(img/close.png);
   	background-position: right;
   	background-size: 25px;
   	background-repeat: no-repeat;
   	cursor: pointer;
   	z-index: 11;
   

      }
}